<!-- /templates/apology.html -->
{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <!-- https://memegen.link/ -->
    <!-- https://knowyourmeme.com/memes/grumpy-cat -->
    <img alt="{{ top }}" class="border img-fluid" src="https://api.memegen.link/images/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?background=https://i.imgur.com/CsCgN7Ll.png&width=400" title="{{ top }}">
    <div class="alert alert-danger text-center mx-auto w-50" role="alert">
        {{ message }}
    </div>
    <div class="text-center">
        <a href="/" class="btn btn-primary">Go Back</a>
    </div>
    {% endblock %}
