<!-- /templates/register.html -->
{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            {% if username_error %}
                <small class="text-danger">{{ username_error }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
            {% if password_error %}
                <small class="text-danger">{{ password_error }}</small>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
