{% extends "layout.html" %}
{% block title %}
    Main Menu
{% endblock %}
{% block main %}
    <h2>Main Menu</h2>
    <p>User = {{ user_id }}</p>

    <!-- Кнопка для создания комнаты -->
    <div>
        <button id="createRoom" class="btn btn-primary">Create Room</button>
    </div>
    <!-- Поле для ввода ID комнаты для подключения -->
    <div>
        <input type="text" id="roomID" placeholder="Enter Room ID">
        <button id="joinRoom" class="btn btn-primary">Join Room</button>
    </div>
    <div>
        <h2>Quiz game</h2>
        <div class="container">
            <p>In this game you will have to guess movies by hints.</p>
            <p>Each round has 3 levels of hints. If you guess the movie from the first clue, you get <span class="points">3 points</span>, from the second <span class="points">2 points</span>, from the third <span class="points">1 point</span>.</p>
            <p>The winner is the one who scores the most points.</p>
        </div>

    <!-- <div id="roomInfo"></div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        // метод библиотеки socket.io для соединения с сервером
        // станет сложнее если фронт и бек на разных портах, тогда нужен CORS
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        // Создание комнаты. Назначаем обработчик события по клику
        document.getElementById('createRoom').addEventListener('click', () => {
            // fetch отправляем HTTP-запрос на сервер с POST
            fetch('/handle_create_room', { method: 'POST' })
                // сервер возвращает response от сервера
                .then(response => {
                    // который мы проверяем и если это перенаправление
                    if (response.redirected) {
                        // Перенаправляем пользователя, если сервер это требует
                        window.location.replace(response.url);
                        console.log('redirect to created room') 
                    } else {
                        // Логируем ошибку, если сервер не перенаправил
                        console.error('Failed to create room. Server did not redirect.');
                    }
                })
                .catch(error => {
                    // Логируем ошибку, если fetch не удался
                    console.error('Error during fetch:', error);
                });
        });

        document.getElementById('joinRoom').addEventListener('click', function() {
            const roomID = document.getElementById('roomID').value;
            console.log('Attempting to join room with ID:', roomID);
            if (roomID) {
                console.log('Sending request to /handle_join_room with room_id:', roomID);
                fetch('/handle_join_room', {
                    method: 'POST',
                    body: new URLSearchParams({ room_id: roomID })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Successfully joined the room:', roomID);
                        if (response.redirected) {
                            console.log('Redirecting to:', response.url);
                            window.location.replace(response.url);
                        }
                    } else {
                        console.error('Failed to join room. Server responded with status:', response.status);
                    }
                })
                .catch(error => {
                    console.error('Error during fetch request:', error);
                });
            } else {
                console.warn('No room ID provided. Cannot join room.');
            }
        });
    </script>
{% endblock %}

