<!-- /templates/room.html -->
{% extends "layout.html" %}

{% block title %}
    Room {{ room_id }}
{% endblock %}

{% block main %}
    <h2>{{ room_id }}</h2>
    <p>Players in the room:</p>
    <ul id="players">
        {% for player in rooms['players'] %}
            <li>{{ player.name }}: {{ player.ready_status }}</li>
        {% endfor %}
    </ul>
    <button id="leaveRoom" class="btn btn-danger" href="/">Leave Room</button>
    <button id="readyButton" class="btn">Ready</button>
    <button id="startGameButton" class="btn btn-primary" disabled hidden>Start Game</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var room_id = "{{ room_id }}";
        const user_id = "{{ user_id }}";
        var username = "{{ username }}";
        var creator = "";

        // Отправка сообщений в комнату
        socket.emit('join', { room_id: room_id });

        socket.on('message', function(data) {
            // Проверяем, есть ли данные игроков и имена пользователей
            if (data.players && data.usernames && data.ready_players) {
                const playersList = document.getElementById('players');
                playersList.innerHTML = '';
                data.players.forEach(function(playerId, index) {
                    var li = document.createElement('li');
                    var username = data.usernames[index];
                    var readyStatus = data.ready_players.includes(playerId) ? "Ready" : "Not Ready";
                    // li.textContent = `${username} - ID ${playerId} (${readyStatus})`;
                    li.textContent = `${username}: ${readyStatus}`;
                    playersList.appendChild(li);
                });
            }
        });

        // Покидание комнаты
        document.getElementById('leaveRoom').addEventListener('click', function() {
            console.log("User is leaving the room");
            socket.emit('leave', { room_id: room_id });
            console.log("Navigating to homepage");
            window.location.href = "/";
        });

        // Функция для отправки события готовности
        document.getElementById('readyButton').addEventListener('click', function() {
            socket.emit('ready', { room_id: room_id });
            readyButton.classList.toggle('active');
            // Проверяем, если класс 'active' присутствует, меняем текст кнопки
            if (this.classList.contains('active')) {
                this.textContent = 'Not ready';  // Текст при активном состоянии
            } else {
                this.textContent = 'Ready';  // Текст, когда кнопка не активна
            }
        });

        // Обработка обновления списка готовых игроков
        socket.on('update_ready_players', function(data) {
            var readyPlayers = data.ready_players;
            var usernames = data.usernames;
            var readyButton = document.getElementById('readyButton');
            var playersList = document.getElementById('players');
            playersList.innerHTML = '';
            data.players.forEach(function(playerId, index) {
                var li = document.createElement('li');
                var username = usernames[index];
                var readyStatus = readyPlayers.includes(playerId) ? "Ready" : "Not Ready";
                // li.textContent = `${username} - ID ${playerId} (${readyStatus})`;
                li.textContent = `${username}: ${readyStatus}`;
                playersList.appendChild(li);
            });
            socket.emit('enable_start_game', { room_id: room_id });
        });

        // Обработка активации кнопки "Начать игру" для создателя
        socket.on('enable_start_game', function(data) {
            var startGameButton = document.getElementById('startGameButton');
            if (data.can_start == true) {
                startGameButton.disabled = false;  // Разрешаем нажать кнопку "Начать игру"
                console.log(`user_id = ${user_id}, creator = ${data.creator}`);
                if (user_id == data.creator) {
                    startGameButton.hidden = false;
                }
            } else {
                console.log('Close start_game_button')
                startGameButton.disabled = true;
                startGameButton.hidden = true;
            }
        });

        document.getElementById('startGameButton').onclick = function() {
            // Отправляем сигнал на сервер, что игра начинается
            console.log('Start Game button clicked. Sending start_game event...');
            socket.emit('start_game', { room_id: room_id });
            // Отключаем кнопку после нажатия, чтобы избежать повторных отправок
            this.disabled = true;
        };

        socket.on('game_started', function(data) {
            console.log('Game started:', data.msg);  // Убедитесь, что это сообщение появляется в консоли
            window.location.href = `/game/${room_id}`;  // Переход в игру
        });
    </script>
{% endblock %}
